header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #362c85; 
}

.logo h2 {
    color: #ffffff; 
    margin-left: 10px;
}

.nav-menu {
    display: flex;
    align-items: right;
    margin-right: 5px;
    
}

.hamburger-btn {
    display: none; 
    cursor: pointer;
    flex-direction: column;
}

.hamburger-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}


input[type="checkbox"] {
    display: none;
}

.nav-options {
    display: flex;
    gap: 20px;
}

.nav-options a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}