/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000; 
    border-radius: 8rem;
}

.logo h2 {
    color: #ffffff; 
    margin-left: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 2em; 
    text-decoration: none; 
}

.nav-menu {
    display: flex;
    align-items: right;
    margin-right: 5px;
}

.hamburger-btn {
    display: none; 
    cursor: pointer;
    flex-direction: column;
}

.hamburger-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}

input[type="checkbox"] {
    display: none;
}

.nav-options {
    display: flex;
    gap: 20px;
}

.nav-options a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease; 
    font-family: 'Arial', sans-serif; 
}

.nav-options a:hover {
    color: #4a6bff; 
}

footer {
    text-align: center; 
    padding: 10px; 
    background-color: #000000; 
    color: white; 
    border-radius: 10px; 
    margin-top: 20px; 
} */
