/* ========== Base Reset ========== */
body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f4f7fa;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit; 
}

/* ========== Family Member Form Styles ========== */
.family-member-form {
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.add-family-member {
    padding: 15px;
}

.family-member-form img {
    background-position: center;
    background-size: 200px 100px;
}

.instructions-list {
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: 500;
}

.title-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.form-title-icon {
    width: 32px;
    height: auto;
}

/* ========== Input Fields ========== */
input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #8bb878;
    outline: none;
}

/* ========== Form Button Styles ========== */
.button-container {
    display: flex;
    justify-content: space-between;
}

.add-button,
.info-button,
.remove-button {
    padding: 12px 25px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.2s ease;
    margin-right: 0.6rem;
}

.add-button { background-color: #0c0c0c; }
.info-button { background-color: #8bb878; }
.remove-button { background-color: #153b1b; }

.add-button:hover,
.info-button:hover,
.remove-button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}


/* ============================================= Family Member List ========================================= */
.member-list {
    margin-top: 20px;
    color: #000000;
    min-width: 50em;
}

.member {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.member-name {
    font-weight: bold;
}

.member-role {
    font-style: italic;
}

/* ========================================= Investment Section ============================================ */
.investment-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 90px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .investment-list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-top: 10rem;
    margin-bottom: 20rem;
  }
  
  .investment-item {
    flex: 0 0 30%; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .market-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.investment-item-card {
    background-color: #ffffff;
    padding: 25px;
    text-align: center;
}

.investment-item-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.investment-item-card p {
    font-size: 1rem;
    color: #6c757d;
}
.investment-image {
    width: 100%;
    height: 20%;
    position: relative;
}

/* ========================================= Investment Amount Styles ===================================*/
.investment-amount {
    color: #8bb878;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 10px;
}

.investment-type {
    font-style: italic;
    color: #6c757d;
    font-size: 1.1rem;
}
.add-investment {
    padding: 30px;
}
.add-investment select,
.add-investment input[type="number"],
.add-investment input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #6c757d;
    border-radius: 4px;
    font-size: 16px;
}

/* ========================================= Investment Button Styles ===================================*/
.add-investment-button {
    background-color: #8bb878;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.add-investment-button:hover {
    background-color: #8bb878;
    transform: scale(1.05);
}

/* ========================================= Table Styles ===================================*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* ================================================= Card Section ======================================== */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 30%;
    padding: 30px;
    text-align: center;
    min-height: 350px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #333333;
}

.card p {
    font-size: 1.2rem;
    color: #555555;
}

/* Card Button Link */
.card .btn {
    display: inline-block;
    padding: 12px 25px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #333333;
    border-radius: 6px;
    text-decoration: none;
    background-color: #333333;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.card .btn:hover {
    background-color: rgba(51, 51, 51, 0.1);
    color: #333333;
    border-color: rgba(51, 51, 51, 0.5);
}

/* ======================================= WealthBook Section ============================================ */
.wealthbook-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;
    padding: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(59, 134, 27, 0.65)); 
    border-radius: 20px;
}


.wealthbook-info {
    flex: 1;
    margin-right: 30px;
    color: #000000;
    padding: 30px;
}

.wealthbook-info h2 {
    font-size: 2.5rem;
    color: #000000;
}

.wealthbook-info p {
    font-size: 1.2rem;
    color: #000000;
}

.wealthbook-card {
    width: 30%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.wealthbook-card h3 {
    font-size: 1.6rem;
    color: #333333;
}

.wealthbook-card p {
    font-size: 1.1rem;
    color: #555555;
}

.wealthbook-card .btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #8bb878;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.wealthbook-card .btn:hover {
    background-color: #6aa857;
}

/* ================================  Family Members Page Styling ==================================== */
.family-members-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.family-members-section h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.members-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #e0e0e0;
}

.member-item .edit-btn, .member-item .delete-btn {
    font-size: 1em;
    color: #28a745;
    text-decoration: none;
    margin-left: 15px;
    transition: color 0.3s;
}

.member-item .edit-btn:hover, .member-item .delete-btn:hover {
    color: #8bb878;
}

.add-member-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 1.1em;
    color: #fff;
    border: 1px solid #8bb878;
    border-radius: 6px;
    background-color: #8bb878;
    cursor: pointer;
    transition: 0.3s;
}

.add-member-btn:hover {
    background-color: #153b1b;
    color: #fff;
}

.add-member-btn a {
    text-decoration: none;
}

#family-member-form {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #8bb878;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #8bb878;
}