{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Family Financial App{% endblock %}</title>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" crossorigin="anonymous" rel="preconnect">
    <link 
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Lobster+Two:ital,wght@0,700;1,400&display=swap" 
    rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/header.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/section.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header class="center-row">

        <!-- Left Section -->
        <div class="logo center-row">
            <a href="{% url 'home' %}">
                <h2>Family Financial App</h2> 
            </a>     
        </div>
    
        <!-- Right Section -->
        <nav class="nav-menu">
    
            <!-- Hamburger -->
            <input type="checkbox" id="checkBox">
    
            <div class="hamburger-btn">
                <label for="checkBox">
                    <span></span>
                    <span></span> 
                    <span></span>
                </label>
            </div>
    
            <!-- Menu Options  -->
            <div class="nav-options center-row">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'family_member_list' %}">Family Members</a>
                <a href="{% url 'investment_list' %}">Investments</a>
            </div>
            
        </nav>
    
    </header>
    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Family Financial App</p>
    </footer>
</body>
</html>
