{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Family Financial App{% endblock %}</title>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" crossorigin="anonymous" rel="preconnect">
    <link 
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Lobster+Two:ital,wght@0,700;1,400&display=swap" 
    rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/header.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/section.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>


    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="WealthBook Logo" class="logo-img">
                <span class="cursive-text">Wealthbook</span>
            </a>
        </div>
        <nav class="nav-menu">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            <a href="{% url 'family_member_list' %}" class="nav-link">Family Profile</a>
            <a href="{% url 'investment_list' %}" class="nav-link">Investments</a>
            <a href="{% url 'training_view' %}" class="nav-link">Training</a>
            <button class="nav-btn">Log In</button>
        </nav>
    </header>
    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
            <div class="footer-links">
                <a href="/privacy-policy">Privacy Policy</a> | 
                <a href="/terms-of-service">Terms of Service</a> | 
                <a href="/contact-us">Contact Us</a>
            </div>
        </div>
    </footer>
    

  

</body>
</html>
